---
layout: default
image: 'img/banner.png'
title: Um podcast sobre acessibilidade, diversidade e inclusão na tecnologia
---

<section id="banner">
  {% include slogan.html %}


  {% assign sorted_posts = site.categories.Episodios | sort: 'date' | reverse %}
  {% for post in sorted_posts limit:1 %}

  <h2 class="section-subtitle text-uppercase">Episódio recente</h2>

  <article class="recent p-lg-5 p-md-4 p-3 rounded-2">
    <div class="row">
      <div class="col-lg-4 col-12 pl-0">
        <figure class="ratio-1x1 ratio m-0 pb-0">
          <img src="{{post.image}}" class="program-gust-picture ratio ratio-1x1 object-fit-cover border rounded-2"
            aria-describedby="descricao-detalhada-{{post.guest | slugify}}" alt="{{post.guest}}">

          <span id="descricao-detalhada-{{post.guest | slugify}}" class="visually-hidden">{{post.alt}}</span>

        </figure>
      </div>
      <div class="col-lg-8 col-12 col-md d-flex align-items-start flex-column">
        <div class="mb-4">
          <h3 class="h2 program-title">
            <a title="Clique para acessar o episódio" href="{{post.url}}">{{post.title}}</a>
          </h3>
          <div class="h4 mt-3 program-guest">
            {{post.guest}} &bull; {{post.role}}
          </div>
        </div>
        {{post.excerpt}}
        <div class="my-3 w-100">{% include player.html %}</div>
        <a href="{{post.url}}" title="Clique para acessar informações sobre o episódio"><i
            class="fa-solid fa-headphones me-2"></i>Acesse os links e a transcrição do episódio</a>
      </div>
    </div>
  </article>
  {% endfor %}

  {% include subscribe.html %}
</section>


<section class="programs" id="programs">
  <h2 class="section-title"><a href="{{ site.baseurl }}/episodios.html">Episódios</a> recentes</h2>
  <ul class="row">
    {% assign episodios = site.categories.Episodios | sort: 'date' | reverse %}
    {% for post in episodios offset:1 %}
    {% if post.categories contains 'Episodios' %}
    {% include loop-program.html %}
    {% endif %}
    {% endfor %}
  </ul>
</section>

<section class="shop" id="shop">
  <h2 class="section-title mb-0">Confira nossa <a href="{{ site.baseurl }}/loja.html">loja</a></h2>
  <p class="lead mb-0">Acessibilidade, diversidade e inclusão na tecnologia — com propósito</p><p><em>Ao comprar, você apoia o podcast Foco Acessível e ajuda a ampliar vozes que lutam por uma tecnologia mais justa para todas as pessoas.</em></p><p><small>Ao clicar nos links abaixo, você será redirecionado para o site: <a class="fw-bold" href="http://umapenca.com/focoacessivel">http://umapenca.com/focoacessivel</a> do respectivo produto.
    <br> Em caso de dúvidas, acesse as <a href="{{ site.baseurl }}/loja.html#faq">perguntas frequentes</a> em caso de dúvidas.</small></p>
  <ul class="row">
    {% assign qtd_itens = 4 %}
    {% assign itens_random = site.data.loja.itens | sample: qtd_itens %}
    {% for item in itens_random %}
    {% include produtos-loop.html %}
    {% endfor %}
  </ul>
</section>





<section class="Articles" id="Articles">
  <h2 class="section-title">Recentes do <a href="{{ site.baseurl }}/blog.html">blog</a></h2>
  <ul class="row">
    {% assign blog = site.categories.Blog | sort: 'date' | reverse %}
    {% for post in blog limit: 3 %}
    {% if post.categories contains 'Blog' %}
    {% include loop-blog.html %}
    {% endif %}
    {% endfor %}
  </ul>
</section>