<section class="shop" id="shop">
    <h2 class="section-title fs-3 mb-0">Confira nossa loja</h2>
    <p class="lead mb-0">Acessibilidade, diversidade e inclusão na tecnologia — com propósito.</p><p><em>Ao comprar, você apoia o podcast Foco Acessível e ajuda a ampliar vozes que lutam por uma tecnologia mais justa para todas as pessoas.</em></p>
    
    <ul class="row">
        {% for item in site.data.loja.item-destaque %}
        <li class="col-12 col-md-4 shop-item text-center">
            <img class="rounded img-fluid shop-item-picture" src="{{item.picture}}" alt="{{item.alt}}">
            <h3 class="shop-item-title">{{item.name}}</h3>
            <div class="shop-item-price">{{item.price}}</div>
            <a class="button" href="{{item.link}}" class="shop-item-link">Saiba mais</a>
       </li> 
       {% endfor %}
    </ul>
</section>