{% if post.categories contains 'Blog' %}
<li class="mb-3 col-12 col-md-6 col-lg-4">
  <div class="h-100 p-md-4 p-3 rounded bg-body-secondary d-flex flex-column justify-content-between">
    <div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="position-relative">
        <img src="{{ post.image }}" class="img-fluid rounded-3" alt="Imagem da publicação '{{post.title}}'"
          aria-describedby="descricao-detalhada-{{ post.title | slugify}}">

        <span id="descricao-detalhada-{{ post.title | slugify}}" class="visually-hidden">{{ post.banner-alt }}</span>
      </a>
      <h2 class="my-4 mb-2 h5 card-title"><a href="{{ post.url }}" class="fw-bold">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <a href="{{ site.baseurl }}{{ post.url }}" class="card-link">Continue lendo <i aria-hidden="true" class="fa-solid fa-arrow-right"></i></a>
      <time class="card-subtitle text-body-secondary" title="Data de publicação" datetime="{{ post.date | date: '%Y-%m-%d'}}"><i aria-hidden="true" class="fa-regular fa-calendar"></i> {{ post.date | date: "%d/%m/%Y" }}</time>

    </div>
  </div>
</li>
{% endif %}