---
layout: page
title: "Loja"
permalink: loja.html
# image: https://raw.githubusercontent.com/focoacessivel/pictures/main/page_loja.jpg
alt: "Ilustração de várias bananas formando um gesto com a mão onde os dedos indicado, médio e o dedo estão juntos e
levantados e os demais abaixados"
summary: '<p class="lead mb-0">Acessibilidade, diversidade e inclusão na tecnologia — com propósito</p>
<p><em>Ao comprar, você apoia o podcast Foco Acessível e ajuda a ampliar vozes que lutam por uma tecnologia mais justa
        para todas as pessoas.</em></p>
<p><small>Ao clicar nos links abaixo, você será redirecionado para o site: <a class="fw-bold"
            target="_blank" href="http://umapenca.com/focoacessivel">http://umapenca.com/focoacessivel</a> do respectivo
        produto.</small></p>'
# legend: Ilustração criada por Uma Penca
---

{% assign agrupados = site.data.loja.itens | group_by: "tipo" %}
{% assign agrupados_ordenados = agrupados | sort: "name" %}

<ul class="row list-unstyled">
    {% for grupo in agrupados_ordenados %}
    {% for item in grupo.items %}
    {% include produtos-loop.html item=item %}
    {% endfor %}
    {% endfor %}
</ul>


<section class="section-faq" id="faq">
    <h3 class="section-title text-center mb-1">Perguntas frequentes</h3>

    <div class="col-12 col-md-8 mx-auto">
        <div class="accordion accordion-flush" id="faq">
            <!-- FAQ 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-1" aria-expanded="false"
                        aria-controls="faq-collapse-1">Por que a loja do Foco Acessível foi criada na plataforma Uma
                        Penca?</button>
                </h2>
                <div id="faq-collapse-1" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">Porque a plataforma Uma Penca é um braço da <strong>Chico Rei</strong>,
                        empresa que é referência pela qualidade e o impacto social. Os produtos têm ótimo acabamento,
                        durabilidade e conforto — algo essencial para oferecer uma experiência positiva a quem compra.
                    </div>
                </div>
            </div>
            <!-- FAQ 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-2" aria-expanded="false"
                        aria-controls="faq-collapse-2">Como minha compra ajuda pessoas com deficiência?</button>
                </h2>
                <div id="faq-collapse-2" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">Parte do valor de cada item é destinada ao <strong>Instituto
                            Bruno</strong>, que atua no apoio a pessoas com paralisia cerebral e outras deficiências.
                        Você consome e, ao mesmo tempo, <strong>contribui com uma causa social</strong>.
                        <div class="mt-5 ratio ratio-16x9">
                            <iframe width="1312" height="738" src="https://www.youtube.com/embed/wFYv6R-Xhys"
                                title="Instituto Bruno e Uma Penca: parceria que transforma vidas"
                                frameborder="0"></iframe>
                        </div>

                    </div>
                </div>
            </div>
            <!-- FAQ 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-3" aria-expanded="false"
                        aria-controls="faq-collapse-3">O que o Foco Acessível ganha com isso?</button>
                </h2>
                <div id="faq-collapse-3" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">O podcast <strong>Foco Acessível recebe uma porcentagem do valor de cada
                            venda</strong>, ajudando na produção de episódios, conteúdos e ações sobre acessibilidade,
                        inclusão e tecnologia.</div>
                </div>
            </div>
            <!-- FAQ 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-4" aria-expanded="false"
                        aria-controls="faq-collapse-4">Como o valor da minha compra é dividido?</button>
                </h2>
                <div id="faq-collapse-4" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">
                        <p>A transparência é essencial. Veja abaixo a divisão dos valores entre Foco Acessível,
                            Instituto Bruno e a Uma Penca.</p>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover table-sm mb-0">
                                <caption class="caption-top text-center">Tabela de valores</caption>
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Foco Acessível</th>
                                        <th scope="col">Doação</th>
                                        <th scope="col">Plataforma</th>
                                        <th scope="col">Valor Total</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row">Camiseta</th>
                                        <td>25,41%</td>
                                        <td>7,14%</td>
                                        <td>67,44%</td>
                                        <td>R$ 70,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Camiseta Infantil</th>
                                        <td>20,55%</td>
                                        <td>7,69%</td>
                                        <td>71,75%</td>
                                        <td>R$ 65,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dryfit</th>
                                        <td>33,30%</td>
                                        <td>6,25%</td>
                                        <td>56,13%</td>
                                        <td>R$ 80,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Caneca</th>
                                        <td>19,47%</td>
                                        <td>5,45%</td>
                                        <td>75,07%</td>
                                        <td>R$ 55,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ecobag</th>
                                        <td>17,85%</td>
                                        <td>5,00%</td>
                                        <td>60,48%</td>
                                        <td>R$ 60,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Kit de Bottons</th>
                                        <td>21,48%</td>
                                        <td>4,76%</td>
                                        <td>73,76%</td>
                                        <td>R$ 21,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Kit de Imãs</th>
                                        <td>21,48%</td>
                                        <td>4,76%</td>
                                        <td>73,76%</td>
                                        <td>R$ 21,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pôster A3</th>
                                        <td>18,51%</td>
                                        <td>7,93%</td>
                                        <td>73,56%</td>
                                        <td>R$ 63,10</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pôster A4</th>
                                        <td>25,34%</td>
                                        <td>10,84%</td>
                                        <td>63,82%</td>
                                        <td>R$ 46,10</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pôster A5</th>
                                        <td>31,48%</td>
                                        <td>13,47%</td>
                                        <td>55,04%</td>
                                        <td>R$ 37,10</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="mt-3">A plataforma Uma Penca é quem cuida da produção, logística e gestão do pedido.
                        </p>
                    </div>
                </div>
            </div>
            <!-- FAQ 5 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-5" aria-expanded="false"
                        aria-controls="faq-collapse-5">Em quanto tempo recebo meu pedido?</button>
                </h2>
                <div id="faq-collapse-5" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">Os prazos variam de acordo com o frete escolhido na finalização da
                        compra. A produção é feita sob demanda pela Chico Rei e geralmente leva alguns dias úteis.
                        Depois disso, o envio segue conforme o método escolhido.</div>
                </div>
            </div>
            <!-- FAQ 6 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-6" aria-expanded="false"
                        aria-controls="faq-collapse-6">A loja envia para todo o Brasil?</button>
                </h2>
                <div id="faq-collapse-6" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">Sim! A plataforma Uma Penca/Chico Rei realiza entregas para todo o
                        território nacional, com rastreio e suporte durante o processo.</div>
                </div>
            </div>
            <!-- FAQ 7 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-7" aria-expanded="false"
                        aria-controls="faq-collapse-7">E se eu quiser trocar ou devolver um produto?</button>
                </h2>
                <div id="faq-collapse-7" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">Você pode solicitar troca ou devolução dentro do prazo legal. Todo o
                        processo é feito diretamente com a equipe da Uma Penca/Chico Rei, que oferece suporte com
                        agilidade e respeito.</div>
                </div>
            </div>
            <!-- FAQ 8 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-8" aria-expanded="false"
                        aria-controls="faq-collapse-8">Posso divulgar a loja para ajudar a causa?</button>
                </h2>
                <div id="faq-collapse-8" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">Sim, e isso faz toda a diferença! Compartilhar a loja nas redes sociais
                        ajuda o podcast, o Instituto Bruno e a causa da acessibilidade a chegarem a mais pessoas.</div>
                </div>
            </div>
            <!-- FAQ 9 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-9" aria-expanded="false"
                        aria-controls="faq-collapse-9">Que formas de pagamento são aceitas?</button>
                </h2>
                <div id="faq-collapse-9" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">A loja aceita cartões de crédito e no Pix, de forma segura e processada
                        pela própria plataforma.
                        <div class="row">
                            <div class="col m-3 text-center"><img height="32px" alt="Pagar com Elo"
                                    src="{{site.baseurl}}/img/loja/forma-pagamento/elo.svg"></div>
                            <div class="col m-3 text-center"><img height="32px" alt="Pagar com Master"
                                    src="{{site.baseurl}}/img/loja/forma-pagamento/master.svg"></div>
                            <div class="col m-3 text-center"><img height="32px" alt="Pagar com visa"
                                    src="{{site.baseurl}}/img/loja/forma-pagamento/visa.svg"></div>
                            <div class="col m-3 text-center"><img height="32px" alt="Pagar com Pix"
                                    src="{{site.baseurl}}/img/loja/forma-pagamento/pix.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQ 10 -->
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq-collapse-10" aria-expanded="false"
                        aria-controls="faq-collapse-10">Por que os produtos não têm cupom de desconto na primeira
                        compra?</button>
                </h2>
                <div id="faq-collapse-10" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">
                        <p>Sabemos como um cupom de boas-vindas pode fazer diferença na hora de decidir uma compra. No
                            entanto, os produtos da loja têm margens de ganho muito pequenas, porque escolhemos manter
                            preços justos e, ao mesmo tempo, dividir parte do valor com iniciativas importantes.</p>
                        <p>Por exemplo, os pôsteres são produzidos com qualidade e enviados sob demanda pela plataforma
                            parceira, e mesmo assim, fazemos questão de doar R$ 5,00 ao Instituto Bruno e garantir R$
                            11,68 para o podcast Foco Acessível, mantendo o propósito do projeto vivo.</p>
                        <p>Com esse compromisso, a margem restante é pequena demais para permitir descontos adicionais —
                            sem comprometer a sustentabilidade da loja e das causas que apoiamos.</p>
                        <p>Mesmo sem cupom, sua compra faz uma enorme diferença. Você está ajudando a manter um podcast
                            sobre acessibilidade no ar e apoiando uma instituição que transforma vidas.</p>
                        <p>Obrigado por estar com a gente! 💜</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>