---
layout: compress
---

<!doctype html>
<html lang="pt-br" class="no-js" data-bs-theme="auto">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{% if page.path contains '_posts' %}{{ page.tags | array_to_sentence_string }}{% else %}Acessibilidade, Inclusão, Diversidade, Podcast, {{site.author}}{% endif %}">
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{% if description.size > 10 %}{{ description }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <!--  GOOGLE FONTS-->
  <link rel="preconnect" target="_blank" href="http://fonts.googleapis.com">
  <link rel="preconnect" target="_blank" href="http://fonts.gstatic.com" crossorigin>

  <!--  PINTEREST -->
  <meta name="p:domain_verify" content="f0a4b51290c8d79df0b5e93c43388693" />
  <!--  FAVICON -->
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/img/icons/icon-72x72.png">
  <link rel="shortcut icon" sizes="196x196" href="{{ site.baseurl }}/img/icons/icon-192x192.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/ifavicon.ico">

  <!--  CSS -->
    <link rel="stylesheet" target="_blank" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" target="_blank" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" target="_blank" href="http://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" target="_blank" href="http://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&&display=swap">
  <link rel="stylesheet" href="{{ site.baseurl }}/main.css">
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/diagnostic.css"> -->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.baseurl }}">
  
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.baseurl }}">
  <link rel="alternate" target="_blank" href="http://anchor.fm/s/e14f7d9c/podcast/rss" type="application/rss+xml" title="Youtube">
  <link rel="alternate" target="_blank" href="http://www.youtube.com/feeds/videos.xml?channel_id=UCYa1lmVi_lcn_DgT4cf-jRQ" type="application/rss+xml" title="Spotify">

  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | prepend: site.baseurl | prepend: site.baseurl }}" />
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <meta name="theme-color" content="#005757" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WMN29SM');</script>
  <!-- End Google Tag Manager -->
  
  {% seo %}

</head>

<body class="p-4 mb-5">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMN29SM" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <!-- VLIVRAS -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script> new window.VLibras.Widget('https://vlibras.gov.br/app');</script>
  <!-- VLIVRAS -->

  <a class="visually-hidden-focusable" href="#main">Ir para o conteúdo</a>
  <a class="visually-hidden-focusable" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas">Acessar o menu principal do site</a>

  <header class="py-4 container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    {% if page.path contains '_posts' %}<div class="col-md-3 mb-2 mb-md-0">{%else%}<h1 class="col-md-3 mb-2 mb-md-0">{%endif%}
      <a href="/" class="text-decoration-none" title=" {{site.title}}">
        <img title="Link para a página inicial do {{site.title}}" src="{{ site.baseurl }}/img/logo.svg"
          class="d-block w-100" alt="Foco Acessível" aria-describedby="descricao-detalhada-logo-header">

          <span id="descricao-detalhada-logo-header" class="visually-hidden">{{site.logo-alt}}</span>

      </a>
      {% if page.path contains '_posts' %}</div>{%else%}</h1>{%endif%}

    <nav id="plataformas-header">
      <ul class="nav align-items-center justify-content-center mt-3 mt-md-0">
        <li class="nav-item">
          <a accesskey="0" class="nav-link nav-link-menu" data-bs-toggle="offcanvas" href="#offcanvas" role="button"
            aria-controls="offcanvas" title="Acesse todos os links do site">Menu</a>
        </li>
        <li class="w-100 m-3 d-block d-md-none"></li>
        {% for item in site.data.links.streaming %}
        <li class="nav-item">
          <a href="{{item.link}}"   class="nav-link"  title="Acompanhe o {{site.title}} no {{item.name}}">
            <img src="{{ site.baseurl }}/img/platform/{{item.name | slugify}}.svg" class="img-fluid" style="{% if item.custom %}{{item.custom}}{%else%}width: 24px; height: 24px{% endif%}" alt="Logo do {{item.name}}" />
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main id='main' class="container">
    {{ content }}

  </main>

  <footer class="container pb-5">
    <h2 class="visually-hidden-focusable">Rodapé do site</h2>
    <div class="row">
      <div class="col-12 col-md-5 mb-3">
        <h3>
          <img width="200px" title="Sobre o {{site.title}}" src="{{ site.baseurl }}/img/logo.svg" class="d-block mb-5" alt="Logo do {{site.title}}" aria-describedby="descricao-detalhada-logo-rodape">
          <span id="descricao-detalhada-logo-rodape" class="visually-hidden">{{site.logo-alt}}</span>
        </h3>
        <div class="col-12 col-md-8">{{site.footer-description}}</div>
      </div>

      <div class="menu-footer col-12 col-md-3 mb-3">
        <h3 id="menu-rodape" class="pt-3 h4 mb-5">Menu do Site</h3>
        <nav id="menu-paginas-footer">
          <ul class="nav flex-column">
            {% for item in site.data.links.menu %}
            <li class="nav-item mb-2">
              <a class="nav-link p-0" href="{{ site.baseurl }}/{{item.link}}"
                title="{% if item.description %}{{item.description}}{% else %}{{item.name}}{% endif %}">
                {{item.name}}
              </a>
            </li>
            {% endfor %}
            <li class="nav-item mb-2">
              <span class="p-0" >RSS: <a class="nav-link p-0 d-inline-block" href="{{ site.baseurl }}/feed.xml" title="Este RSS irá contemplar tudo que for publicado no site">Site</a> e <a class="nav-link p-0 d-inline-block" target="_blank" href="http://anchor.fm/s/e14f7d9c/podcast/rss" title="Este RSS irá contemplar apenas os episódios">Episódios</a>
            </span>
            </li>
          </ul>
        </nav>
      </div>

      <div class="menu-footer col-12 col-md-4 mb-3">
        <div class="row px-2">
          <h3 id="plataformas-rodape" class="pt-3 px-0 h4 mb-5">Plataformas</h3>
          <nav id="menu-plataformas-footer">
            <ul class="nav row">
              {% for item in site.data.links.platforms %}
              <li class="nav-item mb-2 col-12">
                <a href="{{item.link}}" class="nav-link p-0 text-decoration-none">
                  {{item.name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>

    </div>

    <div
      class="d-flex flex-column flex-md-row justify-content-between pt-4 mt-4 w-100 border-top text-center text-md-start">
      <div class="col-12 mb-0  col-md-8 credits">
        <p class="mb-3 mb-md-0">{{site.title}} feito no <a target="_blank" href="http://jekyllrb.com"  
          title="Site do Jekyll - nova aba">Jekyll</a> com <span>❤️</span> e <span>☕</span>
        em Olinda, PE &mdash;
        <a href="{{ site.baseurl }}/arquivo.html" title="Acesse todas as publicações do site">Todas as publicações do site</a>.</p>
        <p>Este site é membro do <a  target="_blank" href="http://a11y-webring.club/"><strong>a11y-webring.club</strong></a>. Acesse o <a  target="_blank" href="http://a11y-webring.club/prev">site anterior</a>, <a  target="_blank" href="http://a11y-webring.club/next">próximo site</a>, ou um <a  target="_blank" href="http://a11y-webring.club/random">site aleatório</a> do <span lang="en">webring</span>.</p>
      </div>
      <ul class="col-12 col-md-2 socials mt-5 mt-md-0 mb-0 d-flex justify-content-between">
        {% include social.html %}
      </ul>
    </div>
  </footer>
  {% include support.html %}
  {% include offcanvas.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.3/plyr.min.js"></script> -->
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  <script src="{{ site.baseurl }}/main.js"></script>

</body>

</html>