---
layout: default
---

<section class="page">
    {% include breadcrumbs.html %}
    <article>
        {% if page.image %}
        <figure class="mb-5">
            <img src="{{page.image}}" title="{{page.title}}" alt="{{page.alt}}" class="w-100 rounded img-fluid">
            <figcaption class="text-small text-muted text-center"><small>{{page.legend}}</small></figcaption>
        </figure>
        {% else%}
        {% endif %}

        <header>
            <h2 class="page-title {% if page.summary %}mb-0 pb-2{% else%}{% endif %}" id="intro">{{page.title}}</h2>
             {% if page.summary %}
                <p class="fs-6 lh-base mt-3 fw-normal col-12 col-md-8">
                    {{page.summary}}
                </p>
                {% else%}
                {% endif %}
        </header>


        {{ content }}
    </article>
</section>